*,*::after, *::before {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 800px;
    height: 800px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

button#resize {
    border: none;
    display: block;
    font-size: 1.5rem;
    margin: 15px auto;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
}

button#resize:hover {
    background-color: aliceblue;
    color: #4b7b8b;
    border-color: #4b7b8b;
}

